# Environments
.venv/
venv/
.env
.env_server

# IDE settings
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Databases
db.sqlite3
db_test.sqlite3
db.zip
db_old.zip

# Logs and temporary files
*.log
*.tmp